node_modules/
.env
.env.local
package-lock.json
.DS_Store
.vscode/
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/
.nyc_output/
coverage/
Thumbs.db
serviceAccountKey.json
.idea/
*.swp
*.swo
*~
.git/
